@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "Geist", system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  font-family: var(--font-geist-sans);
}
